<% comments.each do |comment| %>
    <p><%= attachment_image_tag(comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg") %>
	<%= comment.user.name %>
	<span>　　　　<%= comment.body %></span>
	<% if comment.user == current_user%>
	<%= link_to "Destroy", review_comment_path(comment.review, comment), method: :delete, remote: true, class: "btn btn-danger" %>
	<% end %></p>
<% end %>