<div class="container text-center">
	<h1 class="about1">インドア・レビュアーズとは！</h1>
	<%= image_tag 'review.jpg' %>
	<h3>ユーザーが自分の好きな作品をレビューし、コメントなどで交流しつつ</h3>
    <h3>新しい作品を探し求めるSNS形式のレビュー交流サイトです！！</h3>
</div>